cpao-gulp/src/pug/components/audit/audit.pug
div#firm-annual-obligations.firm-annual-obligations.col-md-9
  div.applications-menu
    a(aria-expanded='true' data-toggle='tab' href='#rosters') Rosters
    a(aria-expanded='true' data-toggle='tab' href='#related-businesses') Related Businesses
    a(aria-expanded='true' data-toggle='tab' href='#insurances') Insurances
    a(aria-expanded='true' data-toggle='tab' href='#annual-obligations') Annual Obligations
    button Switch Firm
  div.dashboard-tile-container
    div.row.no-gutters.tile-row
      div.generic-tile.detailed-card
        div.tile-content
          div.title Audit
            p Status
          div.date Year / Subtitle
          div.description Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          div.actions
            button.withdraw-btn Withdraw
              svg(width='16px' height='16px' viewbox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink').withdraw-svg
                // Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch
                title Button - Tile - Secondary - Withdraw - Hover
                desc Created with Sketch.
                defs
                  path#path-1(d='M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z')
                g#XRM---New(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  g(id='Forms---Style-Guide-/-Template' transform='translate(-555.000000, -1085.000000)')
                    g#Button---Tile---Secondary---Withdraw---Hover(transform='translate(555.000000, 1085.000000)')
                      g(id='icons/utility/clear')
                        mask#mask-2(fill='white')
                          use(xlink:href='#path-1')
                        use#Mask(fill='#006FBA' xlink:href='#path-1')
            button.cpao-btn-primary Launch
      div.generic-tile.detailed-card
        div.tile-content
          div.title Audit
            p Status
          div.date Year / Subtitle
          div.description Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          div.actions
            button.withdraw-btn Withdraw
              svg(width='16px' height='16px' viewbox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink').withdraw-svg
                // Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch
                title Button - Tile - Secondary - Withdraw - Hover
                desc Created with Sketch.
                defs
                  path#path-1(d='M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z')
                g#XRM---New(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  g(id='Forms---Style-Guide-/-Template' transform='translate(-555.000000, -1085.000000)')
                    g#Button---Tile---Secondary---Withdraw---Hover(transform='translate(555.000000, 1085.000000)')
                      g(id='icons/utility/clear')
                        mask#mask-2(fill='white')
                          use(xlink:href='#path-1')
                        use#Mask(fill='#006FBA' xlink:href='#path-1')
            button.cpao-btn-primary Launch
    div.row.no-gutters.tile-row
      div.generic-tile.detailed-card
        div.tile-content
          div.title Audit
            p Status
          div.date Year / Subtitle
          div.description Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          div.actions
            button.withdraw-btn Withdraw
              svg(width='16px' height='16px' viewbox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink').withdraw-svg
                // Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch
                title Button - Tile - Secondary - Withdraw - Hover
                desc Created with Sketch.
                defs
                  path#path-1(d='M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z')
                g#XRM---New(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  g(id='Forms---Style-Guide-/-Template' transform='translate(-555.000000, -1085.000000)')
                    g#Button---Tile---Secondary---Withdraw---Hover(transform='translate(555.000000, 1085.000000)')
                      g(id='icons/utility/clear')
                        mask#mask-2(fill='white')
                          use(xlink:href='#path-1')
                        use#Mask(fill='#006FBA' xlink:href='#path-1')
            button.cpao-btn-primary Launch
      div.generic-tile.detailed-card
        div.tile-content
          div.title Audit
            p Status
          div.date Year / Subtitle
          div.description Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          div.actions
            button.withdraw-btn Withdraw
              svg(width='16px' height='16px' viewbox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink').withdraw-svg
                // Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch
                title Button - Tile - Secondary - Withdraw - Hover
                desc Created with Sketch.
                defs
                  path#path-1(d='M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z')
                g#XRM---New(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  g(id='Forms---Style-Guide-/-Template' transform='translate(-555.000000, -1085.000000)')
                    g#Button---Tile---Secondary---Withdraw---Hover(transform='translate(555.000000, 1085.000000)')
                      g(id='icons/utility/clear')
                        mask#mask-2(fill='white')
                          use(xlink:href='#path-1')
                        use#Mask(fill='#006FBA' xlink:href='#path-1')
            button.cpao-btn-primary Launch

cpao-gulp/build/audit.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Audit</title>
    <!-- Iclude any head elements here-->
    <!-- include partials/head-->
    <link href="vendor/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/master.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div class="em-topbar">
        <div class="container container-header">
          <div class="row topbar-row">
            <div class="col-sm-12 topmenu-holder text-right">
              <ul class="navbar-search topbar-list list-inline p-0">
                <li id="shoppingcart-supernav"><a class="checkout-summary" id="shoppingcart-show" href="#">
                    <svg id="cart" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewbox="0 0 446.853 446.853" style="enable-background:new 0 0 446.853 446.853;" xml:space="preserve">
                      <path d="M444.274,93.36c-2.558-3.666-6.674-5.932-11.145-6.123L155.942,75.289c-7.953-0.348-14.599,5.792-14.939,13.708								c-0.338,7.913,5.792,14.599,13.707,14.939l258.421,11.14L362.32,273.61H136.205L95.354,51.179								c-0.898-4.875-4.245-8.942-8.861-10.753L19.586,14.141c-7.374-2.887-15.695,0.735-18.591,8.1c-2.891,7.369,0.73,15.695,8.1,18.591								l59.491,23.371l41.572,226.335c1.253,6.804,7.183,11.746,14.104,11.746h6.896l-15.747,43.74c-1.318,3.664-0.775,7.733,1.468,10.916								c2.24,3.184,5.883,5.078,9.772,5.078h11.045c-6.844,7.617-11.045,17.646-11.045,28.675c0,23.718,19.299,43.012,43.012,43.012								s43.012-19.294,43.012-43.012c0-11.028-4.201-21.058-11.044-28.675h93.777c-6.847,7.617-11.047,17.646-11.047,28.675								c0,23.718,19.294,43.012,43.012,43.012c23.719,0,43.012-19.294,43.012-43.012c0-11.028-4.2-21.058-11.042-28.675h13.432								c6.6,0,11.948-5.349,11.948-11.947c0-6.6-5.349-11.948-11.948-11.948H143.651l12.902-35.843h216.221								c6.235,0,11.752-4.028,13.651-9.96l59.739-186.387C447.536,101.679,446.832,97.028,444.274,93.36z M169.664,409.814								c-10.543,0-19.117-8.573-19.117-19.116s8.574-19.117,19.117-19.117s19.116,8.574,19.116,19.117S180.207,409.814,169.664,409.814z								M327.373,409.814c-10.543,0-19.116-8.573-19.116-19.116s8.573-19.117,19.116-19.117s19.116,8.574,19.116,19.117								S337.916,409.814,327.373,409.814z"></path>
                    </svg><span id="shoppingcart-counter">0</span> Items</a></li>
                <li><a class="dropdown-toggle profile-dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#" role="button">
                    <div class="profile-mask"><img class="profile-dropdown-image" src="https://dev-fontevacustomer-15ecea91a46.cs50.force.com/profilephoto/7293B000000EgTF/T"></div>
                    <svg height="10" viewbox="0 0 32 32" width="10" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 12l15 14 15-14-4-4-11 10L5 8z"></path>
                    </svg></a>
                  <ul class="dropdown-menu profile-dropdown-menu" role="menu">
                    <li><a href="https://dev-fontevacustomer-15ecea91a46.cs50.force.com/CPAO_Profile"><i class="btr bt-user"></i> My Profile</a></li>
                    <li><a class="link-site" data-id="a0d3B000000NkfGQAS" href="#">CPAOSite&nbsp;<i class="btr bt-check-circle text-success" style="display:inline"></i></a></li>
                    <li class="divider"></li>
                    <li><a class="logout" href="#" onclick="em.logout();"><i class="btr bt-sign-out"></i> Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <header class="fonteva-topnav">
        <nav class="navbar em-navbar navbar-fixed-top primary-nav">
          <div class="primary-nav-inner">
            <div class="container">
              <div class="navbar-header"><a class="navbar-brand" href="#"></a>
                <div class="navbar-collapse" id="navbar">
                  <nav id="menuComponentBUGk0" role="menu">
                    <ul class="nav navbar-nav navbar-right open js-menu" id="menuUlBUGk0">
                      <li class="js-menu undefined"><a class="active" href="personal-dashboard.html" target="_self">My Portal</a></li>
                      <li class="js-menu undefined"><a href="https://dev-fontevacustomer-15ecea91a46.cs50.force.com/CPAO_Knowledge?page=a0Z3B000001F3xfUAC&amp;site=a0d3B000000NkfGQAS" target="_self">Knowledge</a></li>
                      <li class="js-menu undefined"><a href="support.html" target="_self">Support</a></li>
                      <li class="js-menu undefined"><a href="https://dev-fontevacustomer-15ecea91a46.cs50.force.com/CPBase__store?page=a0Z3B0000010cFhUAI&amp;site=a0d3B000000NkfGQAS" target="_self">Store</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main class="container noprint">
        <div class="row section">
          <div class="dashboard-left-nav col-md-3" id="dashboard-left-nav">
            <div class="well p-20">
              <div class="profile-container" id="profile-container"><img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profile Image">
                <div class="profile-desc">
                  <p>Average Joe, CPA.</p>
                  <p>The Awesomest</p>
                </div>
              </div>
              <div class="links-container" id="links-container">
                <ul>
                  <li id="em-profile-tab"><a href="personal-dashboard.html">Personal</a></li>
                  <li id="em-payment-methods-tab"><a href="firm-dashboard.html">Firm</a></li>
                  <li id="em-payments-tab"><a id="payments" href="financials.html">Financials</a></li>
                  <li id="em-transactions-tab"><a href="audit.html">Audit</a></li>
                </ul>
              </div>
              <div class="button-container" id="button-container">
                <button class="cpao-btn-tertiary" onclick="window.location.href='personal-profile-info.html'"> Go to My Profile</button>
              </div>
            </div>
          </div>
          <div class="firm-annual-obligations col-md-9" id="firm-annual-obligations">
            <div class="applications-menu"><a aria-expanded="true" data-toggle="tab" href="#rosters">Rosters</a><a aria-expanded="true" data-toggle="tab" href="#related-businesses">Related Businesses</a><a aria-expanded="true" data-toggle="tab" href="#insurances">Insurances</a><a aria-expanded="true" data-toggle="tab" href="#annual-obligations">Annual Obligations</a>
              <button>Switch Firm</button>
            </div>
            <div class="dashboard-tile-container">
              <div class="row no-gutters tile-row">
                <div class="generic-tile detailed-card">
                  <div class="tile-content">
                    <div class="title">Audit
                      <p>Status</p>
                    </div>
                    <div class="date">Year / Subtitle</div>
                    <div class="description">Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.</div>
                    <div class="actions">
                      <button class="withdraw-btn">Withdraw
                        <svg class="withdraw-svg" width="16px" height="16px" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch-->
                          <title>Button - Tile - Secondary - Withdraw - Hover</title>
                          <desc>Created with Sketch.</desc>
                          <defs>
                            <path id="path-1" d="M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z"></path>
                          </defs>
                          <g id="XRM---New" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Forms---Style-Guide-/-Template" transform="translate(-555.000000, -1085.000000)">
                              <g id="Button---Tile---Secondary---Withdraw---Hover" transform="translate(555.000000, 1085.000000)">
                                <g id="icons/utility/clear">
                                  <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                  </mask>
                                  <use id="Mask" fill="#006FBA" xlink:href="#path-1"></use>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </button>
                      <button class="cpao-btn-primary">Launch</button>
                    </div>
                  </div>
                </div>
                <div class="generic-tile detailed-card">
                  <div class="tile-content">
                    <div class="title">Audit
                      <p>Status</p>
                    </div>
                    <div class="date">Year / Subtitle</div>
                    <div class="description">Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.</div>
                    <div class="actions">
                      <button class="withdraw-btn">Withdraw
                        <svg class="withdraw-svg" width="16px" height="16px" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch-->
                          <title>Button - Tile - Secondary - Withdraw - Hover</title>
                          <desc>Created with Sketch.</desc>
                          <defs>
                            <path id="path-1" d="M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z"></path>
                          </defs>
                          <g id="XRM---New" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Forms---Style-Guide-/-Template" transform="translate(-555.000000, -1085.000000)">
                              <g id="Button---Tile---Secondary---Withdraw---Hover" transform="translate(555.000000, 1085.000000)">
                                <g id="icons/utility/clear">
                                  <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                  </mask>
                                  <use id="Mask" fill="#006FBA" xlink:href="#path-1"></use>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </button>
                      <button class="cpao-btn-primary">Launch</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters tile-row">
                <div class="generic-tile detailed-card">
                  <div class="tile-content">
                    <div class="title">Audit
                      <p>Status</p>
                    </div>
                    <div class="date">Year / Subtitle</div>
                    <div class="description">Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.</div>
                    <div class="actions">
                      <button class="withdraw-btn">Withdraw
                        <svg class="withdraw-svg" width="16px" height="16px" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch-->
                          <title>Button - Tile - Secondary - Withdraw - Hover</title>
                          <desc>Created with Sketch.</desc>
                          <defs>
                            <path id="path-1" d="M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z"></path>
                          </defs>
                          <g id="XRM---New" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Forms---Style-Guide-/-Template" transform="translate(-555.000000, -1085.000000)">
                              <g id="Button---Tile---Secondary---Withdraw---Hover" transform="translate(555.000000, 1085.000000)">
                                <g id="icons/utility/clear">
                                  <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                  </mask>
                                  <use id="Mask" fill="#006FBA" xlink:href="#path-1"></use>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </button>
                      <button class="cpao-btn-primary">Launch</button>
                    </div>
                  </div>
                </div>
                <div class="generic-tile detailed-card">
                  <div class="tile-content">
                    <div class="title">Audit
                      <p>Status</p>
                    </div>
                    <div class="date">Year / Subtitle</div>
                    <div class="description">Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.</div>
                    <div class="actions">
                      <button class="withdraw-btn">Withdraw
                        <svg class="withdraw-svg" width="16px" height="16px" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch-->
                          <title>Button - Tile - Secondary - Withdraw - Hover</title>
                          <desc>Created with Sketch.</desc>
                          <defs>
                            <path id="path-1" d="M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z"></path>
                          </defs>
                          <g id="XRM---New" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Forms---Style-Guide-/-Template" transform="translate(-555.000000, -1085.000000)">
                              <g id="Button---Tile---Secondary---Withdraw---Hover" transform="translate(555.000000, 1085.000000)">
                                <g id="icons/utility/clear">
                                  <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                  </mask>
                                  <use id="Mask" fill="#006FBA" xlink:href="#path-1"></use>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </button>
                      <button class="cpao-btn-primary">Launch</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="cpao-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <p class="footer-copy">&copy; 2017 CPAO . All rights reserved</p>
            </div>
            <div class="col-sm-6 hidden-sm hidden-xs visible-md-block visible-lg-block">
              <ul class="footer-links">
                <li><a href="">Site Map</a></li>
                <li><a href="">Accessibility</a></li>
                <li><a href="">Contact us</a></li>
              </ul>
            </div>
            <div class="col-sm-2 hidden-sm hidden-xs visible-md-block visible-lg-block">
              <ul class="footer-social">
                <li><a href="">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.124 96.123">
                      <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803                                c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654                                c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246                                c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path>
                    </svg></a></li>
                <li><a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="169.063" height="169.063" viewbox="0 0 169.063 169.063">
                      <path d="M122.406 0H46.654C20.929 0 0 20.93 0 46.655v75.752c0 25.726 20.929 46.655 46.654 46.655h75.752c25.727 0 46.656-20.93 46.656-46.655V46.655C169.063 20.93 148.133 0 122.406 0zm31.657 122.407c0 17.455-14.201 31.655-31.656 31.655H46.654C29.2 154.063 15 139.862 15 122.407V46.655C15 29.201 29.2 15 46.654 15h75.752c17.455 0 31.656 14.201 31.656 31.655v75.752z"></path>
                      <path d="M84.531 40.97c-24.021 0-43.563 19.542-43.563 43.563 0 24.02 19.542 43.561 43.563 43.561s43.563-19.541 43.563-43.561c0-24.021-19.542-43.563-43.563-43.563zm0 72.123c-15.749 0-28.563-12.812-28.563-28.561 0-15.75 12.813-28.563 28.563-28.563s28.563 12.813 28.563 28.563c0 15.749-12.814 28.561-28.563 28.561zm45.39-84.842c-2.89 0-5.729 1.17-7.77 3.22a11.053 11.053 0 0 0-3.23 7.78c0 2.891 1.18 5.73 3.23 7.78 2.04 2.04 4.88 3.22 7.77 3.22 2.9 0 5.73-1.18 7.78-3.22 2.05-2.05 3.22-4.89 3.22-7.78 0-2.9-1.17-5.74-3.22-7.78-2.04-2.05-4.88-3.22-7.78-3.22z"></path>
                    </svg></a></li>
                <li><a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 612 612">
                      <path d="M612 116.258a250.714 250.714 0 0 1-72.088 19.772c25.929-15.527 45.777-40.155 55.184-69.411-24.322 14.379-51.169 24.82-79.775 30.48-22.907-24.437-55.49-39.658-91.63-39.658-69.334 0-125.551 56.217-125.551 125.513 0 9.828 1.109 19.427 3.251 28.606-104.326-5.24-196.835-55.223-258.75-131.174-10.823 18.51-16.98 40.078-16.98 63.101 0 43.559 22.181 81.993 55.835 104.479a125.556 125.556 0 0 1-56.867-15.756v1.568c0 60.806 43.291 111.554 100.693 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.199 117.253 87.194-42.947 33.654-97.099 53.655-155.916 53.655-10.134 0-20.116-.612-29.944-1.721 55.567 35.681 121.536 56.485 192.438 56.485 230.948 0 357.188-191.291 357.188-357.188l-.421-16.253c24.666-17.593 46.005-39.697 62.794-64.861z"></path>
                    </svg></a></li>
                <li><a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="430.117" height="430.117" viewbox="0 0 430.117 430.117">
                      <path d="M430.117 261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707-25.473 0-40.632 17.142-47.301 33.724-2.432 5.928-3.058 14.179-3.058 22.477V420.56h-92.219s1.242-251.285 0-277.32h92.21v39.309c-.187.294-.43.611-.606.896h.606v-.896c12.251-18.869 34.13-45.824 83.102-45.824 60.673-.001 106.157 39.636 106.157 124.818zM52.183 9.558C20.635 9.558 0 30.251 0 57.463c0 26.619 20.038 47.94 50.959 47.94h.616c32.159 0 52.159-21.317 52.159-47.94-.606-27.212-20-47.905-51.551-47.905zM5.477 420.56h92.184V143.24H5.477v277.32z"></path>
                    </svg></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- All scripts should be  placed at the bottom-->
    <!-- Scripts Start-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="vendor/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="js/addActiveCss.js"></script>
    <!-- Scripts End-->
  </body>
</html>
